<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'store/bases/seller_profile_base.html' %}
<div class="container">
    {% if not withdrawn_from_sale %}
        <p>You have no withdrawn from sale products yet.</p>
    {% else %}
    <div class="text-end">
        <a href="#" class="btn btn-success">Return selected products on sale</a>
    </div>
        {% for product in withdrawn_from_sale %}
            <p>
            <div class="row">
                <div class="col-3">
                    <a href="{% url 'item_detail' product.product_model_slug product.product_slug %}">{{product.title}}</a>
                </div>
                <div class="col-3">
                    <a href="{% url 'product_edit' product.product_slug %}" class="btn btn-success text-end">Edit {{product.title}}</a>
                </div>
                <div class="col-3">
                    <a href="{% url 'edit_sizes' product.product_slug %}" class="btn btn-success text-end">Edit {{product.title}} sizes</a>
                </div>
                <div class="col-3">
                    <form action="{% url 'return_on_sale' product.product_slug %}" method="POST">{% csrf_token %}
                        <input type="submit" class="btn btn-success" value="Return on sale">
                    </form>
                </div>
            </div>
        <hr class="bg-primary" size="5">
        {% endfor %}
    {% endif %}
</div>
</body>
</html>